@import 'tailwindcss';
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../**/*.vue";

[x-cloak] {
    display: none;
}

@layer base {
    h1 {
        font-size: var(--text-2xl);
    }
    h2 {
        font-size: var(--text-xl);
    }

}

