@import 'tailwindcss';
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../**/*.vue";

[x-cloak] {
    display: none;
}

@layer base {
    h1 {
        @apply text-2xl font-bold mb-2
    }
    h2 {
        @apply text-xl mt-2 mb-1
    }

    a:hover {
        text-decoration: underline;
    }

    a:hover.p-button, nav a:hover {
        text-decoration: none;
    }
}

@layer components {
    .btn {
        @apply bg-primary-600 dark:bg-primary-800 text-white font-medium rounded-md p-2.5 items-center justify-center inline-flex ;
        transition: background-color 0.1s ease-in-out;
    }

    .btn:hover {
        @apply bg-primary-500 dark:bg-primary-900;
        text-decoration: none;
    }

    .btn-red {
        @apply bg-red-700 dark:bg-red-800;
    }

    .btn-red:hover {
        @apply bg-red-600 dark:bg-red-700;
    }

    .btn-green {
        @apply bg-green-700 dark:bg-green-800;
    }

    .btn-green:hover {
        @apply bg-green-600 dark:bg-green-700;
    }

    .btn-yellow {
        @apply bg-yellow-700 dark:bg-yellow-800;
    }

    .btn-yellow:hover {
        @apply bg-yellow-600 dark:bg-yellow-700;
    }
}

